html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  display: inline-block;  
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: normal;
  font-family: "OpenSans", "sans-serif";
}

/*_________________________Global_________________________*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ________________________header_________________________*/

.header {
  border-bottom: 1px solid #c4c4c4;
  
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 35px 0;
}

.logo-link {
 margin-right: 50px;
 
}

.header-list {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-left: 271px;
}

.header-list-link {
  font-size: 15px;
  font-weight: 600;
  color: #1c1c1c;
}

.header-btn {
 font-size: 15px;
 font-weight: 600;
 width: 150px;
 height: 50px;
 background-color: #3172b9;
 border-radius: 3px;
 color: #fff;
 margin-left: 52px;
}

/*_______________main__________________________*/

.section-h1 {
  background-image: url(../img/main/Frame.svg);
  width: 1540px;
  height: 550px;
  margin: 0 auto;
}

.h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 52px;
  color: #1c1c1c;
  padding-top: 113px;
  padding-left: 185px;
  padding-right: 826px;
  margin: 0 auto;
}

.h1-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  color: #787878;
  padding-top: 26px;
  padding-left: 185px;
  padding-right: 884px;
}

.h1-text button {
  font-size: 15px;
  font-weight: 600;
  width: 250px;
  height: 58px;
  background-color: #3172b9;
  border-radius: 3px;
  color: #fff;
  margin-left: 185px;
  margin-top: 34px;
}

.SSL {
  display: flex;
  flex-wrap: wrap;
}

.SSL p {
  font-size: 11px;
  font-weight: 400;
  color: #787878;
  padding-top: 14px;
  padding-left: 13px;
}

.SSL img {
  width: 14px;
  height: 17px;
  margin-left: 225px;
  margin-top: 14px;
}

/*____________________________SERVISES____________________*/

.servises-section {
  padding-top: 87px;
  padding-bottom: 185px;
  border-bottom: 1px solid #C4C4C4;
  margin: 0 auto;
  align-items: center;
}

.servises-title {
  max-width: 1170px;
  padding-bottom: 21px;
  font-size: 36px;
  font-weight: 300;
  line-height: 46.8px;
  color: #1C1C1C;
  margin: 0 auto;
  text-align: center;
}

.services-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: #787878;
  padding-bottom: 54px;
  margin: 0 auto;
  text-align: center;
}

/*----------Карточки сервис-----------*/


.servises-wrapper {
  display: flex;
  gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}

.servises-card-wrapper {
  display: inline-block;
  width: 270px;
  height: 320px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  text-align: center;
  margin-right: 30px;
  align-self: center;
}

.servises-card-wrapper img {
  display: inline-block;
  padding-top: 61px;
  padding-bottom: 29px;
}

.servises-card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 136px;
  color: #1C1C1C;

}

.servises-card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #787878;
  padding-top: 15px;
}

/*_______________articles______________________*/

.articles-section {
  padding-top: 90px;
  padding-bottom: 160px;
  border-bottom: 1px solid #C4C4C4;
  margin: 0 auto;
}

.articles-title {
  max-width: 1170px;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
  line-height: 130%;
  margin: 0 auto;
}

.articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
}

.articles-card-wrapper {
  display: flex;
  width: 570px;
  height: 180px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.articles-card-content-wrapper {
  padding: 23px 156px 38px 30px;
}

.articles-card-time {
  font-size: 10px;
  font-weight: 400;
  color: #787878;
}

.articles-card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #787878;
  padding-bottom: 33px;
}

/*_____________________CLIENTS___________________*/

.clients-section {
  padding-top: 87px;
  padding-bottom: 87px;
  border-bottom: 1px solid #C4C4C4;
  margin: 0 auto;
}

.clients-title {
  max-width: 1170px;
  padding-bottom: 42px;margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #1C1C1C;
  font-size: 36px;
  font-weight: 300;
  line-height: 46.8px;
  margin: 0 auto;
}

.clients-wrapper {
  display: flex;
  gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
}


.clients-card-wrapper {
  width: 370px;
  height: 362px;
  border: 1px solid #6b6b6b;
  border-radius: 5px;
}

.clients-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: #787878;
  padding: 51px 53px 33px 36px;

}
.clients-card-content-wrapper {
  content: flex;
  margin-left: 36px;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 297px;
  text-align: left;

}

.clients-card-content-wrapper img { 
  float: left;
  border: 2px solid #3172b9;
  border-radius: 80px;
  margin-top: 28px;
}
.clients-card-title {
 font-size: 17px;
 font-weight: 600;
 line-height: 30.6px;
 color: #1C1C1C;
 padding-top: 33px;
 padding-left: 84px;
}

.clients-card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: #787878;
  padding-left: 84px;
}

/*------------------contacts------------*/

.contacts-section {
  padding-top: 87px;
  padding-bottom: 160px;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-title {
  max-width: 1170px;
  padding-bottom: 109px;
  font-size: 36px;
  font-weight: 300;
  line-height: 46.8px;
  margin: 0 auto;
}

.contacts-wrapper {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
} 

.contacts-visitus {
  width: 214px;
  height: 159px;
  margin-right: 186px;
}

.contacts-callus {
  width: 121px;
  height: 159px;
  margin-right: 279px;
}

.contacts-email {
  width: 170px;
  height: 159px;
}

.contacts-card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: #787878;
}

.contacts-card-title {
 font-size: 17px;
 font-weight: 600;
 line-height: 30.6px;
 color: #1C1C1C;
 padding-top: 19px;
 padding-bottom: 30px;
}

/*--------------footer------------*/

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 35px 0;
 
}

.logo-link {
  margin-right: 25px;
}

.footer-list {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding-left: 199px;
}

.footer-list-link {
  font-size: 15px;
  font-weight: 600;
  color: #787878;
}

.footer-link {
  display: flex;
  padding-left: 58px;
}

.footer-link img {
  padding-right: 32px;
}

.footer-wrapper p {
  font-size: 12px;
  font-weight: 400;
  color: #787878

}